.container {
    padding-top: var(--mantine-spacing-sm);
    padding-bottom: var(--mantine-spacing-sm);
    padding-left: var(--mantine-spacing-xs);
    padding-right: var(--mantine-spacing-xs);
    background: var(--mangine-color-default);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    border: solid 2px transparent;
}

.container:hover {
    background: var(--mantine-color-default-hover);
    cursor: pointer;
}

.selected {
    border: solid 2px var(--mantine-primary-color-filled);
}

.selected:hover {
    border: solid 2px var(--mantine-primary-color-filled-hover);
}

.container .icon{
    flex: 0 0 ;
    padding-right: var(--mantine-spacing-xs);
}
.container .content{
    flex: 1 1;
}
