.container {
    padding-top: var(--mantine-spacing-sm);
    padding-bottom: var(--mantine-spacing-sm);
    padding-left: var(--mantine-spacing-xs);
    padding-right: var(--mantine-spacing-xs);
}

.modalFooter {
    background-color: var(--mantine-color-body);
    position: sticky;
    bottom: 0;
}
